# Kurzer Überblick Pandas-Bibliothek

In [1]:
#üblicher Import - bitte ebenfalls so verwenden
import pandas as pd

# Einlesen

In [2]:
daten_1 = pd.read_csv("K:Documents/Lehre/EDA/EDA_2022/daten/country_data.csv")

daten_1

FileNotFoundError: [Errno 2] No such file or directory: 'K:Documents/Lehre/EDA/EDA_2022/daten/country_data.csv'

# Einlesen: Weitere Möglichkeiten
* Bestimmung der Separator-Zeichen und ca. 1001 Einstellungsmöglichkeiten
* Excel lesen/schreiben
* H5DF - "Datenbank" in Textdatei
* ...

### und natürlich auch zurückschreiben

In [ ]:
daten_1.T.to_csv("K:Documents/Lehre/EDA/EDA_2022/daten/country_data.T.csv")

# Generieren, Umwandeln

In [3]:
# Erzeugung aus anderen Python-Datenstrukturen:

daten_2_listen = [["CHN", "China", 1398.72],
                  ["IND", "India", 1351.16],
                  ["USA", "US", 329.74]]
daten_2_frame = pd.DataFrame(daten_2_listen, columns=["Kuerzel", "Name", "Einwohner"])

daten_2_frame

  Kuerzel   Name  Einwohner
0     CHN  China    1398.72
1     IND  India    1351.16
2     USA     US     329.74

In [110]:
daten_3_dict = {"Kuerzel" : ["CHN","IND","USA","IDN","BRA","PAK"],
                "Name" : ["China","India","US","Indonesia","Brazil","Pakistan"],
                "Einwohner" : [1398.72, 1351.16, 329.74, 268.07, 210.32, 205.71]}
daten_3_frame = pd.DataFrame(daten_3_dict)

daten_3_frame

  Kuerzel       Name  Einwohner
0     CHN      China    1398.72
1     IND      India    1351.16
2     USA         US     329.74
3     IDN  Indonesia     268.07
4     BRA     Brazil     210.32
5     PAK   Pakistan     205.71

In [111]:
#sehr praktisch
daten_3_frame.dtypes

Kuerzel       object
Name          object
Einwohner    float64
dtype: object

# Indizieren/Zugreifen

In [112]:
#Einzelzugriff Spalte (oder benannte Zeile)
daten_3_frame["Name"]

0        China
1        India
2           US
3    Indonesia
4       Brazil
5     Pakistan
Name: Name, dtype: object

In [113]:
#Einzelzugriff Spalte (oder benannte Zeile)
daten_3_frame.Einwohner

0    1398.72
1    1351.16
2     329.74
3     268.07
4     210.32
5     205.71
Name: Einwohner, dtype: float64

In [114]:
#Einzelzugriff Zeile
daten_3_frame.loc[3]

Kuerzel            IDN
Name         Indonesia
Einwohner       268.07
Name: 3, dtype: object

In [115]:
#Zugriff Zeilen
daten_3_frame.loc[3:5]

  Kuerzel       Name  Einwohner
3     IDN  Indonesia     268.07
4     BRA     Brazil     210.32
5     PAK   Pakistan     205.71

In [116]:
#Zugriff Spalten
daten_3_frame.loc[:, ["Kuerzel", "Name"]]

  Kuerzel       Name
0     CHN      China
1     IND      India
2     USA         US
3     IDN  Indonesia
4     BRA     Brazil
5     PAK   Pakistan

In [117]:
#bedingter Zugriff
daten_3_frame.loc[:, ["Name"]][daten_3_frame["Einwohner"] > 1000]

    Name
0  China
1  India

# Löschen, Erweitern

In [118]:
daten_4_frame = daten_3_frame.drop("Name", axis="columns")
daten_4_frame

  Kuerzel  Einwohner
0     CHN    1398.72
1     IND    1351.16
2     USA     329.74
3     IDN     268.07
4     BRA     210.32
5     PAK     205.71

# Arithmetik, Statistik

In [119]:
import numpy as np
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)), columns=list('abcd'))
df1

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [120]:
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)), columns=list('abcde'))
df2

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [121]:
df1 + df1

      a     b     c     d
0   0.0   2.0   4.0   6.0
1   8.0  10.0  12.0  14.0
2  16.0  18.0  20.0  22.0

In [122]:
df1 * 2

      a     b     c     d
0   0.0   2.0   4.0   6.0
1   8.0  10.0  12.0  14.0
2  16.0  18.0  20.0  22.0

In [123]:
df1 ** 2

      a     b      c      d
0   0.0   1.0    4.0    9.0
1  16.0  25.0   36.0   49.0
2  64.0  81.0  100.0  121.0

In [124]:
df1 + df2

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [125]:
# Funktionsanwendung (Vektor-Funktionen)

f = lambda x: x.max() - x.min()

df1.apply(f)

a    8.0
b    8.0
c    8.0
d    8.0
dtype: float64

In [126]:
# eingebaute Funktionen

df1.sum()

a    12.0
b    15.0
c    18.0
d    21.0
dtype: float64

In [127]:
df1.sum(axis="columns")

0     6.0
1    22.0
2    38.0
dtype: float64

In [128]:
# "alles auf einmal"
df1.describe()

         a    b     c     d
count  3.0  3.0   3.0   3.0
mean   4.0  5.0   6.0   7.0
std    4.0  4.0   4.0   4.0
min    0.0  1.0   2.0   3.0
25%    2.0  3.0   4.0   5.0
50%    4.0  5.0   6.0   7.0
75%    6.0  7.0   8.0   9.0
max    8.0  9.0  10.0  11.0