In [3]:
import pandas as pd
import numpy as np

In [38]:
#DataFrame mit den Dimensionen 3x3, der komplett mit der Zahl "1"
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('abc'))  #ohne . wird Zahl gerundet
df1

     a    b    c
0  0.0  1.0  2.0
1  3.0  4.0  5.0
2  6.0  7.0  8.0

In [37]:
df2= df1 * 0 +1
print(df2)

   a  b  c
0  1  1  1
1  1  1  1
2  1  1  1

In [41]:
df3 = pd.DataFrame(np.arange(1, 10).reshape((3, 3)), columns=list('abc'))  #ohne . wird Zahl gerundet
df3

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [44]:
#Zeile ausgeben
df3.iloc[[0]]

   a  b  c
0  1  2  3

In [46]:
#Zeile ausgeben
df3.iloc[[0, 2]]

   a  b  c
0  1  2  3
2  7  8  9

In [56]:
#Spalte ausgeben
df3[['a', 'c']]

   a  b
0  1  2
1  4  5
2  7  8

In [57]:
#Spalte ausgeben
df3['b']

0    2
1    5
2    8
Name: b, dtype: int32

In [59]:
#Zeilen aus, in denen die Zahl in Spalte c grösser 5 ist
df3[df3['c']>5]

   a  b  c
1  4  5  6
2  7  8  9

In [65]:
#Zeilen aus, in denen die Zahl in Spalte c grösser 5 ist
df3[df3.c > 5]

   a  b  c
1  4  5  6
2  7  8  9

In [66]:
#Zeilen aus, in denen die Zahl in Spalte a und c grösser 5 ist
df3[(df3.c > 5) & (df3.a > 5)]

   a  b  c
2  7  8  9

In [73]:
#Spalten umbenennen
df3_new = df3.rename(columns={'a': 'd', 'b': 'e', 'c': 'f'})
df3_new

   d  e  f
0  1  2  3
1  4  5  6
2  7  8  9

In [77]:
#Zeilen umbenennen
df3_new = df3.rename(index={0: 'x', 1: 'y', 2: 'z'})
df3_new

   d  e  f
x  1  2  3
y  4  5  6
z  7  8  9